* {
    font-family: prata, serif;
}

h1 {
    text-align: center;
}

header {
    display: inline;
    margin: 10px 5px
}

.nav {
    display: inline;
}


   /* body {
    background-image: url("images/agavebkgrnd.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #cccccc;
  } */